################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeatherLogger/v15
config.php
/WeatherReciever/.vs/WeatherReciever/v15/Server/sqlite3/storage.ide-wal
/WeatherReciever/.vs/WeatherReciever/v15/Server/sqlite3/storage.ide-shm
/WeatherReciever/.vs/WeatherReciever/v15/Server/sqlite3/storage.ide
/WeatherReciever/.vs/WeatherReciever/v15/Server/sqlite3/db.lock
/WeatherReciever/.vs/WeatherReciever/v15/sqlite3/storage.ide-wal
/WeatherReciever/.vs/WeatherReciever/v15/sqlite3/storage.ide-shm
/WeatherReciever/.vs/WeatherReciever/v15/sqlite3/db.lock
