<?xml version="1.0"?>
<configuration>
  <!---->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />     
  </appSettings>
  <!---->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <!---->
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RestfullService.Service1">
        <endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding"
          contract="RestfullService.Weather" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:61066/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>

        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

        <behavior>         
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>         
          <serviceDebug includeExceptionDetailInFaults="false"/>         
        </behavior>
        
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <!---->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>   
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!---->
</configuration>
